tensorboard
pycocotools
prettytable
gpustat
scipy
setuptools==59.5.0

# need to install torch version >= 1.10
# pip install torch==1.12.0+cu102 torchvision==0.13.0+cu102 torchaudio==0.12.0 --extra-index-url https://download.pytorch.org/whl/cu102